@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

/*@font-face {
  font-family: Mont Medium;
  src: url('../fonts/Montserrat-Medium.ttf');
}*/

.outer_home_container {
  animation-name: appear;
  animation-duration: 3s;
}

.inner_home_container {
  box-shadow: 0 2px 10px #7b7b7b;
  margin: 40px;
  padding: 20px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/static/resources/images/sf_background.jpeg');
  background-size: cover;
  background-position: center;
}

.profile_image_container {
  height: 300px;
  width: 300px;
  background-position: center;
  border-radius: 50%;
  background-size: cover;
  border: 2px solid #ac5348;
  box-shadow: inset 8px 8px 20px #161616;
  margin-bottom: 10px;
}

.profile_information {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 90%;
  margin: 10px;
  background-color: rgba(56, 56, 56, 0.71);
  font-family: 'Exo Light';
  letter-spacing: 1px;
}

.profile_information span {
  padding: 5px;
  text-align: center;
}

.introduction_container {
  font-family: 'Exo Light';
  background-color: rgba(56, 56, 56, 0.71);
  padding: 20px;
  letter-spacing: 1px;
  text-align: justify;
  line-height: 26px;
  width: 90%;
  margin: 10px;
}

#position {
  text-transform: uppercase;
}
