body {
  font-family: 'Montserrat Medium';
  color: white;
}

html {
  background-image: url('/static/resources/images/background_pattern.jpg');
}

@keyframes slideDown {
  from {margin-top: -60px;}
  to  {margin-top: 0px;}
}

.control_panel {
  animation-name: slideDown;
  animation-duration: 1s;
}
